{
  "model": {
    "fasterRcnn": {
      "numClasses": 20,
      "imageResizer": {
        "keepAspectRatioResizer": {
          "minDimension": 600,
          "maxDimension": 1024
        }
      },
      "featureExtractor": {
        "type": "faster_rcnn_resnet101",
        "firstStageFeaturesStride": 16
      },
      "firstStageAnchorGenerator": {
        "gridAnchorGenerator": {
          "heightStride": 16,
          "widthStride": 16,
          "scales": [
            0.25,
            0.5,
            1.0,
            2.0
          ],
          "aspectRatios": [
            0.5,
            1.0,
            2.0
          ]
        }
      },
      "firstStageBoxPredictorConvHyperparams": {
        "op": "CONV",
        "regularizer": {
          "l2Regularizer": {
            "weight": 0.0
          }
        },
        "initializer": {
          "truncatedNormalInitializer": {
            "stddev": 0.009999999776482582
          }
        }
      },
      "firstStageNmsScoreThreshold": 0.0,
      "firstStageNmsIouThreshold": 0.699999988079071,
      "firstStageMaxProposals": 300,
      "firstStageLocalizationLossWeight": 2.0,
      "firstStageObjectnessLossWeight": 1.0,
      "initialCropSize": 14,
      "maxpoolKernelSize": 2,
      "maxpoolStride": 2,
      "secondStageBoxPredictor": {
        "maskRcnnBoxPredictor": {
          "fcHyperparams": {
            "op": "FC",
            "regularizer": {
              "l2Regularizer": {
                "weight": 0.0
              }
            },
            "initializer": {
              "varianceScalingInitializer": {
                "factor": 1.0,
                "uniform": true,
                "mode": "FAN_AVG"
              }
            }
          },
          "useDropout": false,
          "dropoutKeepProbability": 1.0
        }
      },
      "secondStagePostProcessing": {
        "batchNonMaxSuppression": {
          "scoreThreshold": 0.0,
          "iouThreshold": 0.6000000238418579,
          "maxDetectionsPerClass": 100,
          "maxTotalDetections": 300
        },
        "scoreConverter": "SOFTMAX"
      },
      "secondStageLocalizationLossWeight": 2.0,
      "secondStageClassificationLossWeight": 1.0
    }
  },
  "trainConfig": {
    "batchSize": 1,
    "dataAugmentationOptions": [
      {
        "randomHorizontalFlip": {}
      }
    ],
    "optimizer": {
      "momentumOptimizer": {
        "learningRate": {
          "manualStepLearningRate": {
            "initialLearningRate": 9.999999747378752e-05,
            "schedule": [
              {
                "step": 500000,
                "learningRate": 9.999999747378752e-06
              },
              {
                "step": 700000,
                "learningRate": 9.999999974752427e-07
              }
            ]
          }
        },
        "momentumOptimizerValue": 0.8999999761581421
      },
      "useMovingAverage": false
    },
    "gradientClippingByNorm": 10.0,
    "fineTuneCheckpoint": "D:/tmp/faster_rcnn_resnet101_coco/model.ckpt",
    "fromDetectionCheckpoint": true,
    "numSteps": 800000
  },
  "trainInputReader": {
    "labelMapPath": "D:/Projects/PythonLab/tf-models/research/object_detection/data/pascal_label_map.pbtxt",
    "tfRecordInputReader": {
      "inputPath": [
        "D:/Projects/PythonLab/tf-models/research/object_detection/data/pascal_train.record"
      ]
    }
  },
  "evalConfig": {
    "numExamples": 4952
  },
  "evalInputReader": [
    {
      "labelMapPath": "D:/Projects/PythonLab/tf-models/research/object_detection/data/pascal_label_map.pbtxt",
      "shuffle": false,
      "numReaders": 1,
      "tfRecordInputReader": {
        "inputPath": [
          "D:/Projects/PythonLab/tf-models/research/object_detection/data/pascal_val.record"
        ]
      }
    }
  ]
}